@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-weight: 400;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
:root {
  --background-primary-color: #ffffff;
  --background-secondary-color: #000000;
  --background-terciary-color: #ececec;
  --background-quaternary-color: #e7e7e7;
  --background-color-visit: #ff0000;
  --font-primary-color: #000000;
  --font-secondary-color: #ffffff;
  --font-terciary-color: #757575;
  --font-size-xxl: 36px;
  --font-size-xl: 30px;
  --font-size-l: 24px;
  --font-size-m: 16px;
  --font-line-heigth-m: 29.05px;
  --font-line-heigth-m: 19.36px;
  --border-radius-xl: 60px;
  --border-radius-l: 30px;
  --border-radius-m: 20px;
  --border-color: #dddddd;
  --padding-xxl: 60px;
  --padding-xl: 40px;
  --padding-l: 30px;
  --padding-m: 20px;
  --padding-s: 10px;
  --padding-xs: 5px;
  --margin-xl: 40px;
  --margin-l: 30px;
  --margin-m: 20px;
  --margin-s: 10px;
  --margin-xs: 5px;
  --gap-xl: 40px;
  --gap-l: 30px;
  --gap-m: 20px;
  --gap-s: 10px;
  --gap-xs: 5px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app {
  width: 90%;
  min-height: 90svh;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap-xs);
}
