.searchDiv {
  position: relative;
}

.searchInput {
  height: 60px;
  width: 100%;
  background-color: var(--background-terciary-color);
  color: var(--font-terciary -color);
  font-size: var(--font-size-l);
  border-radius: var(--border-radius-l);
  border: none;
  outline: none;
  box-sizing: border-box; /* probar a borralo, esta en * de style.css*/
  padding: var(--padding-s) var(--padding-m) var(--padding-s) var(--padding-xxl); /* Espacio para el icono de lupa */
}

.searchDiv::before {
  content: '\1F50D'; /* Unicode para el icono de lupa */
  position: absolute;
  left: 1%;
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--font-size-l);
  z-index: 2;
}
