.anchor {
  width: 123px;
  height: 60px;
  font-size: var(--font-size-l);
  line-height: var(--font-line-heigth-m);
  border-radius: var(--border-radius-l);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.black {
  background-color: var(--background-secondary-color);
  color: var(--font-secondary-color);
}
.white {
  background-color: var(--background-primary-color);
  color: var(--primary-color);
  border: none;
}
