.userDiv {
  width: 40px;
  height: 40px;
  background-color: var(--background-terciary-color);
  color: var(--font-terciary-color);
  font-size: var(--font-size-l);
  border-radius: var(--border-radius-m);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
